@import "../variables";
@import "../mixins";

.container {
  padding: 0px 20px;
  font-size: 20px;
  height: $header-height;
  z-index: 10;
  background-color: #005bbb;
  box-shadow: 0 8px 10px -8px rgb(151, 151, 151);
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a {
    padding: 1rem 1.5rem;
    transition: 0.3s ease-out;
    color: #ffffff;
    font-weight: 500;
    &:hover {
      color: #ffffffb2;
    }
  }

  .login {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 8px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 450ms ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

.navLeft {
  display: flex;
  gap: 1rem;
}

// The hamburger button isn't put in a separate module because it only appears here
.menuIcon {
  position: fixed;
  right: 20px;
  width: 30px;
  height: 15px;

  background-color: transparent;
  cursor: pointer;
  border: none;

  z-index: 999;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    background-color: black;
    border: 1.5px solid black;
    border-radius: 4px;
    width: 100%;
    transition: 0.3s ease-out;
  }
}
.closeIcon {
  position: fixed;
  visibility: hidden;
  right: 10px;
  z-index: 9999999;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  backdrop-filter: brightness(60%) blur(3px);
}

@include mobile() {
  .container {
    // padding: 20px;
    height: calc($header-height / 2);
  }
  .menuIcon {
    visibility: visible;
    right: 10px;
  }
  .closeIcon {
    visibility: visible;
    right: 10px;
  }
  .nav {
    display: none;
  }
}
