@import "../variables";
@import "../mixins";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 0px 10px !important;
  box-shadow: 0 8px 15px -8px rgb(207, 207, 207);

  h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .categories {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    button {
      background-color: transparent;
      border: none;
      font-size: 17px;
      padding: 18px 15px;
      cursor: pointer;
    }
    .active {
      border-bottom: 5px solid #005bbb;
    }
  }
}

.main {
  padding: 50px 20px;
  background-color: #e5e4e24d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .mainWrapper {
    width: 100%;
    max-width: 950px;
    .card {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .textContainer {
        padding: 20px;
        h3 {
          color: #71797e;
          font-size: 30px;
          margin: 0px;
        }
        .dob {
          color: #71797e;
          font-size: 20px;
        }
        .story {
          color: #71797e;
        }
      }
    }
  }
}

// for mobile devices
@include mobile() {
  .hero {
    padding: 20px 10px 0px 10px !important;
    h1 {
      font-size: 26px;
      margin-bottom: 30px;
    }
    .categories {
      width: 100%;
      max-width: 1200px;
      overflow-x: scroll;
      justify-content: space-between;
      button {
        font-size: 13px;
        padding: 12px 18px;
        cursor: pointer;
        white-space: nowrap;
      }
      .active {
        border-bottom: 2px solid #0096ff;
      }
    }
  }

  .main {
    padding: 50px 20px;

    .mainWrapper {
      .card {
        .textContainer {
          padding: 15px;
          h3 {
            font-size: 20px;
          }
          .dob {
            font-size: 14px;
          }
          .story {
            font-size: 14px;
          }
        }
      }
    }
  }
}
